Package: org.h6nry.swipeswitcher6
Name: SwipeSwitcher6
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Swipe to switcher!
Maintainer: H6nry <henry.anonym@gmail.com>
Author: H6nry <henry.anonym@gmail.com>
Section: Tweaks